# dependencies
node_modules/

# environment variables
.env
.env.local

# database
*.sqlite
*.db

# build output
/dist
/out

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
bun-debug.log*

# typescript
*.tsbuildinfo
