{%extends "_base.njk"%} {% block title %}Q&A Forum{% endblock %} {% block
content %} {% if question %}
<article>
  <h2>{{ question.title }}</h2>
  <p>{{ question.author }} - {{ question.createdAt }}</p>
  <p>{{ question.body }}</p>
</article>
{% for answer in question.answers %}
<p>{{answer.body}}</p>
<p>{{answer.author}} - {{ answer.createdAt }}</p>
{% endfor %}
<form
  action="/questions/{{ question.id }}/answers"
  method="POST"
  class="form-example"
>
  <div>
    <label for="body">I want to answer the question:</label>
    <textarea name="body" id="body" required></textarea>
  </div>
  <input type="submit" value="Submit Answer" />
</form>
{% else %}
<p>Question not found</p>
{% endif %}{% endblock %}
